/*--------------------------------------------------------------
# Typography
  # Headings
--------------------------------------------------------------*/
/* stylelint-disable */
body,
button,
input,
select,
optgroup,
textarea {
  color: var(--color-theme-black);
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  font-weight: 300;
}

/* stylelint-enable */

/*------------------------------------------------------------
# Headings
-------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-theme-primary);
  clear: both;
  letter-spacing: 0.2em;
  font-weight: 300;
}

h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

p {
  font-size: var(--global-font-size);
  line-height: 1.7rem;
  letter-spacing: -0.02em;
}
